.section-caption{
    font-size: 60px;
   text-transform: uppercase; 
}

.section-caption::first-letter{
    color: #00bcd4;

}

.blue{
    color: #00bcd4;
}

.white{
    color: #fff;
}



@mixin text-property($font, $size, $weight, $color, $line-h, $text-al) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line-h;
    text-align: $text-al;
  }