@import "vars";
@import "fonts";
@import "libs";
@import "mixins";
@import "media";
@import "./components/_header.scss";
@import "./components/_soft.scss";
@import "./components/_guarantee.scss";
@import "./components/_prices.scss";
@import "./components/_footer_section.scss";













