@import "vars";
@import "fonts";
@import "libs";
@import "mixins";
@import "media";
@import "./components/_header.scss";
.container-main {
    min-width: rem(320);
    width: rem(320);
    margin: 0 auto;
}

.bg-black {
    background-image: url('../img/background.png');
    height: 1575px; // delete
    margin: 0 auto;
}

.guarantee-main {
    width: rem(320);
    margin: 0 auto;
    padding: 0;
}

.guarantee__deco--dream {
    display: none;
}

.section-caption {
    font-family: $font-caption;
    font-size: rem(25);
    line-height: rem(30);
    font-weight: 700;
    text-transform: uppercase;
}

.guarantee-main {
    padding-top: rem(40);
}

.section-caption--white {
    text-align: center;
    color: #ffffff;
    padding-left: rem(18);
    padding-right: rem(18);
    &:first-letter {
        color: #00bcd4;
    }
    &::after {
        content: '';
        display: block;
        width: rem(150);
        margin: 0 auto;
        padding-top: 8px;
        border-bottom: rem(2) solid #00bcd4;
        margin-bottom: rem(22);
    }
}

.subtitle-text-deco {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    color: $main-color;
}

.guarantee__subtitle-text {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(20);
    letter-spacing: rem(0.5);
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-bottom: rem(52);
}

.career__perspective {
    font-family: $semi-font;
    font-size: rem(20);
    line-height: rem(24);
    color: #ffffff;
    margin-bottom: rem(34);
}

.career-list__item {
    margin-bottom: rem(32);
    &:nth-child(1) {
        padding-right: rem(87);
    }
}

.icon-dot {
    fill: $main-color;
    stroke: #ffffff;
    stroke-width: rem(2);
    padding: 0;
}

.career-list__text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(24);
    color: $text-list;
    margin-left: rem(19);
}

.career-list__item--margin {
    margin-bottom: rem(50);
}

.text-deco--bold-white {
    font-weight: 700;
    color: #ffffff;
}

.career-list__item {
    display: flex;
}

.guarantee-list {
    background-color: $backgrond-list;
    width: 100%;
    height: 100px;
    padding-top: rem(29);
    padding-left: rem(16);
    height: auto;
    margin-bottom: rem(59);
}

.guarantee__deco--guarantee {
    display: none;
}

.guarantee-list__logo--deco {
    display: none;
}

.guarantee-list__text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(24);
    color: $text-list;
    padding-right: rem(28);
    margin-bottom: rem(42);
}

.advantage-list__item {
    display: flex;
    position: relative;
    &:nth-child(5) {
        padding-bottom: rem(36);
    }
}

.advantage-list__item--number {
    font-family: $semi-font;
    font-size: rem(24);
    font-weight: 700;
    color: $main-color;
    padding-top: rem(12);
    margin-right: rem(15);
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid $main-color;
        width: rem(103);
    }
}

.advantage-list__text {
    padding-top: rem(19);
}

.advantage-list__text--main {
    font-family: $semi-font;
    font-size: rem(16);
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: rem(7);
}

.advantage-list__text--indentation {
    padding-right: rem(77);
}

.advantage-list__text--under-the-text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    color: $under-the-text;
    margin-bottom: rem(29);
}

.advantage-list__text--under-indentation {
    padding-right: rem(39);
}

.under-last-text {
    margin-bottom: 0;
}

//========================================
.bg-white {
    background-image: url('../img/background-white.png');
    margin: 0 auto;
}

.training-center {
    padding-top: rem(53);
    width: rem(320);
    margin: 0 auto;
}

.section-caption--black {
    text-align: center;
    color: $color-caption-white_page;
    &::first-letter {
        color: #00bcd4;
    }
    &::after {
        content: '';
        display: block;
        width: rem(150);
        margin: 0 auto;
        padding-top: rem(7);
        border-bottom: rem(2) solid $color-caption-white_page;
        margin-bottom: rem(17);
    }
}

.training-center__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.training-center__prepare-demanded {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(17);
    color: $color-caption-white_page;
    margin-bottom: rem(2);
}

.subtitle-text-deco--training-center {
    margin-bottom: rem(46);
}

.ambitious-purpose__caption {
    font-family: $font-caption;
    font-size: rem(15);
    font-weight: 700;
    line-height: rem(19);
    text-transform: uppercase;
    margin-bottom: rem(15);
}

.ambitious-purpose__subtitle {
    font-family: $list-text;
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(21);
    color: $color-caption-white_page;
    margin-bottom: rem(49);
}

.ambitious-objectives {
    &::after {
        content: '';
        display: block;
        border-bottom: rem(1) solid $color-caption-white_page;
        width: 100%;
        padding-top: rem(35);
        margin-bottom: rem(8);
    }
}

.ambitious-objectives__item {
    display: flex;
    margin-bottom: rem(31);
    padding-right: rem(40);
    &:nth-child(4) {
        margin-bottom: 0;
    }
}

.icon-dot-main {
    fill: $main-color;
}

.ambitious-objectives__item--text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    color: $color-caption-white_page;
    margin-left: rem(15);
}

.subtitle-text-deco--black {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 700;
}

.graduates-work__text {
    font-family: $semi-font;
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(24);
    color: $color-caption-white_page;
    margin-bottom: rem(40);
}

.graduates-work-company {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: rem(292);
    box-sizing: border-box;
}

.graduates-work-company__item {
    display: flex;
    margin-bottom: rem(6);
    &:nth-last-child(-n+2) {
        margin-bottom: rem(30);
    }
    &:hover {
        box-shadow: 0 rem(4) rem(17) rem(-4) rgba(0, 0, 0, 0.75);
        transition: all 200ms linear;
    }
}

.graduates-work-company__link {
    position: relative;
    background-color: #fff;
    width: rem(140);
    height: rem(145);
}

.graduates-work-company__link--logo {
    position: absolute;
    top: rem(62);
    left: rem(10);
    width: rem(121);
}

.graduates-work-company__link--crytek {
    top: rem(45);
}

.graduates-work-company__link--luxoft {
    top: rem(43);
}

.graduates-work-company__text {
    font-family: $semi-font;
    font-size: rem(16);
    font-weight: 400;
    line-height: rem(24);
    color: $color-caption-white_page;
    padding: 0 rem(15);
    margin-bottom: rem(48);
}

.company-text-deco {
    font-family: $semi-font;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(24);
    color: $color-caption-white_page;
}

//========================================
.our-pride {
    width: rem(320);
    margin: 0 auto;
    padding-top: rem(51);
}

.our-pride__caption {
    font-family: $font-caption;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(24);
    color: $color-caption-white_page;
    text-align: center;
    margin: 0 auto;
    margin-bottom: rem(28);
    padding: 0 rem(73);
    &::before {
        content: '';
        display: block;
        border-top: rem(2) solid $color-caption-white_page;
        width: rem(150);
        margin: 0 auto;
        padding-top: rem(5);
    }
}

.our-pride-cup {
    margin: 0 auto;
}

.our-pride-cup__item {
    position: relative;
    width: rem(292);
    height: rem(368);
    background-color: #fbfbfb;
    box-shadow: 0 rem(4) rem(17) rem(-4) rgba(0, 0, 0, 0.75);
    margin-bottom: rem(20);
}

.our-pride-cup__background--nations {
    background-image: url('../img/nations-opacity.png');
    background-repeat: no-repeat;
    background-position-y: rem(72);
    width: 100%;
    height: rem(260);
}

.our-pride-cup__background--cup {
    background-image: url('../img/cup-opacity.png');
    background-repeat: no-repeat;
    width: 100%;
    height: rem(368);
}

.our-pride-cup__background--cup-two {
    background-image: url('../img/cup-two-opacity.png');
    background-repeat: no-repeat;
    width: 100%;
    height: rem(387);
}

.wrap-cont-pride {
    padding-top: rem(21);
    padding-left: rem(17);
}

.our-pride-cup__deco {
    font-family: $semi-font;
    font-size: rem(18);
    font-weight: 700;
    color: $main-color;
    background-color: $color-caption-white_page;
    padding: rem(5) rem(11) rem(9);
}

.our-pride-cup__caption {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(24);
    color: $color-caption-white_page;
    text-transform: uppercase;
    padding-right: rem(82);
}

.our-pride-cup__text {
    font-family: $list-text;
    font-size: rem(13);
    font-weight: 400;
    line-height: rem(24);
    color: $color-caption-white_page;
    padding: 0 rem(20);
}

.our-pride-cup__caption--tender {
    padding-top: rem(32);
    margin-bottom: rem(14);
}

.our-pride-cup__img--nations {
    position: absolute;
    right: rem(15);
    bottom: rem(15);
}

.wrap-cont-last__flex {
    display: flex;
}

.our-pride-cup__caption--awards {
    padding-right: 0;
    padding-top: rem(26);
    margin-bottom: rem(111);
}

.our-pride-cup__text--cup {
    padding-left: rem(35);
    padding-right: rem(110);
}

.our-pride-cup__img--cup {
    position: absolute;
    right: rem(20);
    bottom: rem(20);
}

.our-pride-cup__caption--education {
    padding-top: rem(23);
    margin-bottom: rem(111);
}

.our-pride-cup__text--cup-two {
    padding-left: rem(35);
    padding-right: rem(110);
}

.our-pride-cup__img--cup-two {
    position: absolute;
    right: rem(15);
    bottom: rem(20);
}

.wrap-list-our-pride {
    width: rem(320);
    margin: 0 auto;
}

//========================================
.teacher {
    position: relative;
    width: rem(320);
    margin: 0 auto;
}

.teacher__background {
    position: absolute;
    top: rem(-174);
    width: 100%;
    height: rem(2000);
    background-image: url('../img/background-white.png');
    padding-top: rem(205);
    z-index: -1;
}

.teacher__subtitle {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(18);
    text-align: center;
    color: $color-caption-white_page;
    padding: 0 rem(34);
    margin-bottom: rem(41);
}

.teacher__text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(24);
    color: $color-caption-white_page;
    padding: 0 rem(15);
    margin-bottom: rem(25);
}

.teacher-list {
    width: rem(320);
    margin: 0 auto;
}

.teacher-position {
    display: flex;
    justify-content: flex-end;
    font-family: $semi-font;
    font-size: rem(24);
    font-weight: 700;
    color: $color-caption-white_page;
    margin-bottom: rem(20);
    &::before {
        content: '';
        display: inline-block;
        border-bottom: rem(2) solid #29292b;
        width: rem(100);
        margin-right: rem(9);
    }
}

.teacher-list__background {
    display: flex;
    background-color: #fff;
    width: rem(292);
    margin: 0 auto;
    border-bottom: rem(1) solid #dfdfdf;
}

.teacher-list__img {
    width: rem(130);
    height: rem(130);
}

.teacher-list__name {
    font-family: $semi-font;
    font-size: rem(20);
    font-weight: 700;
    line-height: rem(24);
    padding-top: rem(13);
    padding-left: rem(19);
    &::after {
        content: '';
        display: block;
        border-bottom: rem(2) solid $main-color;
        width: rem(55);
        padding-top: rem(7);
        margin-bottom: rem(8);
    }
}

.teacher-list__position {
    display: block;
    font-family: $semi-font;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(18);
    color: $color-caption-white_page;
    text-align: left;
    padding-left: rem(19);
}

.wrap-teacher-list__experience {
    background-color: #ffffff;
}

.teacher-list__experience {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(20);
    color: $color-caption-white_page;
    padding-top: rem(23);
    padding-right: rem(160);
    padding-left: rem(19);
    padding-bottom: rem(34);
}

.teacher-list__technical-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
    padding-top: rem(19);
    margin-bottom: rem(43);
}

.teacher-list__technical-skills--caption {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    color: $color-caption-white_page;
    margin-bottom: rem(27);
}

.teacher-list__technical-skills--text {
    font-family: $semi-font;
    font-size: rem(13);
    font-weight: 700;
    line-height: rem(18);
    text-transform: uppercase;
    padding-right: rem(45);
    padding-left: rem(16);
    padding-bottom: rem(22);
}

.teacher-list__experience--two-block {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 600;
    line-height: rem(20);
    color: $color-caption-white_page;
    background-color: #ffffff;
    padding-right: rem(40);
    padding-left: rem(20);
    padding-bottom: rem(12);
    &:last-child {
        padding-right: rem(45);
        padding-bottom: rem(20);
    }
}

.teacher-list__shadow {
    box-shadow: 0 rem(7) rem(17) rem(-4) rgba(0, 0, 0, 0.75);
}

.teacher-list__technical-skills--text-deco {
    padding-right: rem(79);
}

.teacher-list__technical-skills--text-deco-v2 {
    padding-right: rem(24);
}

.teacher-list__experience--deco {
    padding-right: rem(30);
}

.start_course {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, rgba(255, 179, 27, 1) 0%, rgba(251, 27, 60, 1) 100%);
    padding: 15px 0;
    margin-bottom: rem(64);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.21);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

//========================================
.reviews {
    // position: relative;
    width: rem(320);
    margin: 0 auto;
    padding-top: rem(52);
}

.section-caption--reviews {
    padding: 0 rem(43);
}

.reviews__subtitle {
    font-family: $font-caption;
    font-size: rem(14);
    font-weight: 700;
    line-height: rem(20);
    text-align: center;
    color: $color-caption-white_page;
    padding: 0 rem(33);
    margin-bottom: rem(50);
}

.reviews-list {
    width: rem(320);
    margin: 0 auto;
}

.reviews-list-plus__elements {
    display: flex;
    &:last-child{
        margin-bottom: rem(20);
    }
}

.reviews-list-plus__text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    color: $color-caption-white_page;
    margin-bottom: rem(30);
}

.reviews-list__background{
    background-image: url('../img/comma.png');
    background-repeat: no-repeat;
    background-position-x: 180px;
    background-position-y: 50px;
    margin-bottom: rem(63);
}
.reviews-list__background--text{
    font-family: $semi-font;
    font-size: rem(18);
    font-weight: 700;
    line-height: rem(26);
    color: $color-caption-white_page;
}
.reviews-video{
    position: relative;
}

.reviews-video__items{
    width: rem(290);
    margin: 0 auto;
}

.btn-video--1{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}


.btn-video--2{
    position: absolute;
    top: 285px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}


.btn-video--3{
    position: absolute;
    top: 490px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}