
@import "vars";
@import "fonts";
@import "libs";
@import "mixins";


@import "./components/_header.scss";


// -------------variables-------------

.col-12, .col-sm-12 {
    padding-right: 0;
    padding-left: 0;
}
.subtitle-text-deco {
    color: $main-color;
    font-family: $list-text;
    font-weight: bold;
}
.container-fluid {
    min-width: rem(320);
    margin: 0 auto;
}
.container {
    max-width: rem(290);
    margin: 0 auto;
}
.container-main--bgd {
    background-image: url('../img/podlogka_shum-min.png');
    background-repeat: repeat;
}

// --------section prices------------ 

.prices {
    padding-top: rem(58); 
    text-align: center;
}
.section-caption-white {
    padding: 0;
    color: #ffffff;
    font-family: $font-caption;
    font-size: rem(25);
    text-transform: uppercase;
    &:first-letter {
        color: $main-color;
    }
    &::after {
        border-bottom: rem(4) solid #ffffff;
        content: "";
        width: rem(152);
        display: block;
        margin: 0 auto;
        padding-bottom: rem(15);
        margin-bottom: rem(19);
    }
}
.prices-header__subtitle {
    color: #ffffff;
    font-size: rem(14);
    font-family: $font-caption;
    font-weight: 900;
    text-transform: uppercase;
}
.prices-header-guarantee {
    margin-top: rem(55);
    padding: 0;
    text-align: start;
    line-height: 1.714;
    margin-bottom: rem(30);
    &__subtitle--first {
        text-transform: uppercase;
        font-size: rem(14);
    }
    &__subtitle--second {
        color: #ffffff;
        font-family: $list-text;
        text-transform: uppercase;
        font-size: rem(14);
    }
    &__text {
        color: #eaeaeb;
        font-family: $list-text;
        font-size: rem(14);
        padding-right: rem(10);
    }
}
.prices-header-duration{
    width: 100%;
    height: rem(65);
    background-color:  rgb(60, 60, 60);
    box-shadow: 0px 20px 36px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: rem(20);
    &__title {
        color: #ffffff;
        font-size: rem(16);
        font-family: $font-caption;
        font-weight: 900;
        padding-top: rem(25);
    }
}
.prices-fullstack {
    margin-bottom: rem(45);
}
.list-fullstack{
    background-color: rgb(49, 49, 51);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    &__development {
        color: #ffffff;
        text-transform: uppercase;
        font-family: $list-text;
        font-size: rem(14);
        font-weight: bold;
    }
}
.list-fullstack-header {
    width: 100%;
    height: rem(84);
    background-color: rgb(60, 60, 60);
    margin-bottom: rem(40);
    &__title {
        color: #ffffff;
        font-family: $list-text;
        font-weight: bold;
        text-transform: uppercase;
        font-size: rem(16);
        padding-top: rem(27);
        padding-bottom: rem(8);
    }
    &__subtitle {
        font-family: $list-text;
        font-weight: bold;
        font-size: rem(16);
        text-transform: uppercase;
    }
}
.list-fullstack-info {
    font-family: $list-text;
    font-size: rem(14);
    line-height: 1.714;
    margin-bottom: rem(30);
    &__techskills {
        font-weight: bold;
    }
    &__skills {
        color: #eaeaeb;
    }
}
.list-fullstack-caption {
    margin-bottom: rem(13);
    &__finalproject {
        font-family: $list-text;
        font-size: rem(14);
        text-transform: uppercase;
    }
    &__dash {
        color: #ffffff;
        font-size: rem(14);
    }
}
.list-fullstack-bgd {
    position: relative;
    width: auto;
    border: rem(1) solid #eaeaeb;
    margin-top: rem(30);
    margin-bottom: rem(35);
    margin-left: rem(65);
    margin-right: rem(68);
    padding-top: rem(15);
    padding-bottom: rem(15);
    &__title {
        color: #ffffff;
        font-family: $list-text;
        font-size: rem(14);
        text-transform: uppercase;
    }
    &::after {
        position: absolute;
        content: "";
        display: block;
        border-bottom: rem(3) solid $backgrond-list;
        top: rem(43);
        left: rem(73);
        width: rem(70);
    }
    &::before {
        position: absolute;
        content: "";
        display: block;
        border-bottom: rem(3) solid $backgrond-list;
        top: rem(-2);
        left: rem(17);
        width: rem(45);
    }
}
.list-fullstack-career {
    margin-bottom: rem(30);
    &__item {
        display: inline-block;
        width: 90%;
        height: rem(65);
        color: #eaeaeb;
        font-family: $semi-font;
        text-align: start;
        font-size: rem(14);
        background-color: rgb(43, 43, 45);
        line-height: 1.2;
        box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
        margin-bottom: rem(10);
        padding-left: rem(18);
    }
}
.list-fullstack-career__text--vebinar, .list-fullstack-career__text--skype {
    padding-top: rem(26);
}
.list-fullstack-career__text--base, .list-fullstack-career__text--linkedin {
    padding-top: rem(18);
}
.list-fullstack__price {
    display: inline-block;
    width: 100%;
    margin-bottom: rem(20);
    font-family: $font-caption;
    font-size: rem(36);
    font-weight: 900;
}
.list-fullstack__price--online {
    color: #ffc600;
}
.start_course{
    border: none;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, rgba(255,179,27,1) 0%, rgba(251,27,60,1) 100%);
    padding: 15px 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.21);
    color: #fff;
    text-transform: uppercase;
}
.list-fullstack__btn {
    margin-bottom: rem(40);
}
.prices-online {
    margin-bottom: rem(20);
}
.list-fullstack-header__kiev{
    font-family: $list-text;
    font-size: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}
.list-fullstack__price--offline {
    color: #5cc497;
}
.payment-box__title {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
    padding-left: rem(60);
    padding-right: rem(60);
    margin-bottom: rem(25);
}
.payment-list {
    margin-bottom: rem(60);
}
.payment-list__svg {
    display: inline-block;
    width: 100%;
    fill: $main-color;
    margin-bottom: rem(15);
    margin-top: rem(20);
}
.payment-list__item {
    display: inline-block;
    width: 100%;
    height: rem(115);
    background-color: rgb(42, 41, 44);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-bottom: rem(2) solid #403f42;
    padding-bottom: rem(25);
    position: relative;
}
.payment-list__text {
    color: #eaeaeb;
    font-family: $semi-font;
    font-size: rem(16);
}
.payment-list__svg--rich {
    position: absolute;
    right: rem(0);
}
.payment-list__svg--stopwatch {
    position: absolute;
    top: rem(27);
    left: rem(105);
    fill: #ffffff;
}
.payment-list__text--absolute {
    position: absolute;
    top: rem(75);
    right: rem(100);
}
.payment-list__item--border {
    border-bottom: none;
}

// --------section cource-difference----------

.course-difference {
    color: $color-caption-white_page;
}
.section-caption-black {
    padding-top: rem(60);
    margin-bottom: rem(58);
    font-family: $font-caption;
    font-size: rem(25);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    line-height: 1.2;
    &:first-letter {
        color: $main-color;
    }
}
.course-difference-list__title {
    font-family: $semi-font;
    font-size: rem(19);
    font-weight: bold;
    line-height: 1.2;
    &::after {
        border-bottom: rem(3) solid $main-color;
        content: "";
        width: rem(80);
        display: block;
        padding-top: rem(7);
        margin-bottom: rem(20);
    }
}
.course-difference-list__text {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.714;
    padding-right: rem(20);
    margin-bottom: rem(28);
}
.course-difference-list-span {
    margin-right: rem(20);
    
}
.course-difference-list-span__text {
    font-family: $list-text;
    font-size: rem(14);
    line-height: 1.714;
    font-weight: 500;
}
.course-difference-list-education__item {
    display: flex;
    margin-bottom: rem(18);
}
.course-difference-list-education__svg {
    margin-right: rem(20);
    margin-top: rem(2);
}
.course-difference-article {
    border-top: rem(3) solid $color-caption-white_page;
    &__title {
        font-family: $list-text;
        font-size: rem(14);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.714;
        padding-top: rem(10);
        margin-right: rem(20);
        margin-bottom: rem(20);
    }
    &__text {
        font-family: $list-text;
        font-size: rem(14);
        line-height: 1.714;
        font-weight: 500;
        margin-right: rem(40);
    }
    &__thumbnail {
        font-family: $list-text;
        font-size: rem(14);
        font-weight: bold;
        line-height: 1.714;
        margin-bottom: rem(55);
    }
}

// ----------section graduate-skiils--------------


.graduate-skills {
    position: relative;
    &::before{
        background-image: url('../img/1125-min.png');
        background-repeat: repeat;
        content: "";
        width: rem(320);
        height: rem(1525);
        display: block;
        position: absolute;
        left: rem(-15);
        top: 0;
        z-index: -1;
    }
}
.graduate-skills-image {
    background-image: url('../img/code_1-min.png');
    width: 100%;
    height: rem(300);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.graduate-skills-box {
    background-color: #fafafa;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.graduate-skills-article-box::before {
    border-bottom: rem(3) solid $main-color;
    content: "";
    width: rem(250);
    display: block;
    padding-bottom: rem(50);
    margin-left: rem(20);
}
.graduate-skills-article-box__title {
    text-align: center;
    font-family: $list-text;
    font-size: rem(16);
    font-weight: bold;
    line-height: 1.5;
    padding-top: rem(18);
    padding-left: rem(40);
    padding-right: rem(38);
    margin-bottom: rem(30);
}
.graduate-skills-article-box__span {
    font-weight: 500;
}
.graduate-skills-article-list__item {
    display: flex;
    margin-bottom: rem(15);
    padding-right: rem(20);
}
.graduate-skills-article-list__svg {
    margin-left: rem(20);
    margin-right: rem(10);
    margin-top: rem(2);
}
.graduate-skills-article-list__thumbnail {
    font-family: $list-text;
    font-size: rem(14);
    font-weight: bold;
    line-height: 1.429;
}
.graduate-skills-article-list__text {
    font-family: $list-text;
    font-size: rem(14);
    line-height: 1.429;
}
.graduate-skills-article-box__title--second {
    text-align: center;
    font-family: $list-text;
    font-size: rem(16);
    font-weight: bold;
    line-height: 1.5;
    padding: rem(15);
}
.graduate-skills-article__text {
    font-family: $list-text;
    font-size: rem(14);
    padding-left: rem(25);
    padding-right: rem(40);
    line-height: 1.714;
    margin-bottom: rem(40);
}
.course-certificate-bgd {
    border: rem(3) solid $color-caption-white_page;
    margin-left: rem(20);
    margin-right: rem(20);
    margin-bottom: rem(30);
}
.course-certificate-bgd__text {
    font-family: $list-text;
    font-size: rem(14);
    line-height: 1.714;
    text-align: center;
    padding-left: rem(20);
    padding-right: rem(20);
    padding-top: rem(15);
    padding-bottom: rem(15);
}
.course-certificate-bgd__thumbnail {
    font-weight: bold;
}
.graduate-skills-articles__btn {
    margin-left: rem(25);
    margin-bottom: rem(45);
}

// -----------section faq----------------------

.faq-box {
    padding-left: 0;
    padding-right: 0;
}
.faq-box__title {
    margin-bottom: rem(20);
    &::after {
        border-bottom: rem(3) solid $color-caption-white_page;
        content: "";
        width: rem(150);
        display: block;
        margin-left: rem(67);
        padding-top: rem(10);
    }
}
.faq-box__subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: rem(14);
    text-transform: uppercase;
    line-height: 1.429;
    display: inline-block;
}
.faq-box__subtitle--first {
    margin-left: rem(57);
}
.faq-box__subtitle--second {
    margin-bottom: rem(40);
    margin-left: rem(70);
}
.faq-box-list {
    margin-bottom: rem(85)
}
.faq-box-list__text, input[type="checkbox"] {
    display: none;
  }
input[type="checkbox"]:checked ~ .faq-box-list__text {
    display: block;
    background-color: #ffffff;
}
.faq-box-list__pseudobtn {
    display: inline-block;
    width: 100%;
    height: rem(80);
    background-color: rgb(237, 237, 237);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
    margin-top: rem(10);
    cursor: pointer;
    font-family: $list-text;
    font-size: rem(14);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    padding-top: rem(30);
    padding-left: rem(15);
}
.faq-box-list__text {
    width: 100%;
    height: rem(125);
    border-radius: 5px;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.16);
    font-family: $list-text;
    font-size: rem(14);
    line-height: 1.714;
    padding-left: rem(12);
    padding-top: rem(28);
    padding-right: rem(40);
}
.faq-box-list__pseudobtn--last {
    padding-top: rem(20);
}


@import "media";