body {
    margin: 0 auto;
}

.main-wrapper {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.black {
    background-color: var(--dark-fone);
}

.light {
    background-color: var(--light-fone);
}

.main-wrapper-black {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1920px;
    height: 580px;
    padding-top: 30px;
    background-color: var(--dark-fone);
    position: relative;
}

.content-container {
    max-width: 320px;
    margin: 0 auto;
    position: relative;
    /*background-color: var(--dark-fone);*/
}

:root {
    --main-color: rgb(0, 188, 212);
    --dark-fone: rgb(43, 42, 47);
    --light-fone: rgb(255, 255, 255);
    --font-caption: ‘Montserrat’, sans-serif;
    --semi-font: ‘Ubuntu Mono’, monospace;
    --list-text: ‘Open Sans’, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.training-center {
    font-size: 11px;
    font-family: var(--font-caption);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.455;
    text-align: left;
    display: none;
}

.training-help {
    display: none;
    font-size: 14px;
    font-family: var(--semi-font);
    color: rgb(255, 255, 255);
    line-height: 1.429;
    text-align: left;
}

.logo-padding {
    padding-right: 20px;
}

.start-full-stack {
    position: relative;
}

/*Дата старта курса*/

.start {
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color);
    color: white;
    /*display: block;*/
}

.start-date {
    /*display: none;*/
    z-index: 3;
    order: 2;
    align-self: center;
    margin: 0 auto;
}

.phone {
    z-index: 3;
}

.write-to-course > p {
    display: none;
    position: relative;
    top: 0px;
}

.tel {
    font-size: 14px;
    font-family: var(--semi-font);
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.429;
    text-align: left;
    border-bottom: 1px solid var(--main-color);
    display: block;
}

.tel:hover {
    font-size: 14px;
    font-family: var(--semi-font);
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.429;
    text-align: left;
    border-bottom: 1px solid var(--main-color);
    display: block;
    text-decoration: none;

}

.set-age {
    font-size: 13px;
    font-family: var(--font-caption);
    color: rgb(199, 199, 199);
    line-height: 1.538;
}

.bold {
    font-weight: bold;
}

/*Black Block position*/
.black-block {
    position: relative;
}

.hud-image {
    position: absolute;
    right: -37%;
    display: none;
}

.date {
    color: var(--main-color);
}

.begin-to-work > h5 {
    font-size: 14px;
    font-family: var(--semi-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.222;
    text-align: center;
}

.begin-to-work > p {
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(196, 196, 196);
    line-height: 1.875;
    text-align: center;
}

.begin-to-work:after {
    content: "";
    display: block;
    border-bottom: 4px solid var(--main-color);
    width: 50%;
    margin: 0 auto;
}

.main-color {
    color: var(--main-color);
}

.main-caption {
    text-transform: uppercase;
    color: white;
}

.main-caption h1 {
    font-size: 30px;
    font-family: var(--font-caption);
    /*color: rgb(0, 188, 212);*/
    text-transform: uppercase;
    line-height: 1.333;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.help-you > p {
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(255, 255, 255);
    line-height: 1.25;
    /*text-align: left;*/
    padding-top: 35px;
    /*margin: 0 auto;*/
    text-align: center;
    margin-bottom: 0;
}

.help-you p:nth-child(2) {
    padding-top: 15px;
    width: 80%;
    margin: 0 auto;
}

.nine-month {
    display: none;
    font-size: 18px;
    font-family: var(--semi-font);
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.111;
    text-align: left;
}

.help-you:before {
    content: "";
    display: none;
    border-bottom: 2px solid var(--main-color);
    width: 120px;
    margin: 0 auto;
}

.nine-month:before {
    content: "";
    display: none;
    border-bottom: 2px solid var(--main-color);
    width: 120px;
    margin: 0 auto;
}

.ready-portfolio {
    padding-top: 110px;
    padding-left: 30px;
    display: none;
    flex-direction: row;
}

.ready-portfolio h5 {
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.375;
}

.none {
    display: none;
}

.ready-portfolio p {
    font-size: 16px;
    font-family: var(--semi-font);
    color: rgb(255, 255, 255);
    line-height: 1.125;
}

.pseudo p:before {
    content: "<_";
    font-size: 25px;
    /*font-weight: bold;*/
    font-family: var(--semi-font);
    color: var(--main-color);
    line-height: 1.04;
    text-align: left;
    margin-left: -27px;

}

.header-button {
    display: none;
    padding: 13px 11px;
    position: relative;
    left: -100px;
}

.button-border-left-bottom {
    width: 45px;
    height: 45px;
    border: 1px solid white;
    position: absolute;
    border-top-color: transparent;
    border-right-color: transparent;
    left: -1px;
    bottom: -1px;
}

.button-border-top-right {
    width: 45px;
    height: 45px;
    border: 1px solid white;
    position: absolute;
    border-left-color: transparent;
    border-bottom-color: transparent;
    right: -1px;
    top: -1px;

}

.first-button {
    background-color: var(--main-color);
    width: 266px;
    height: 46px;
    border: none;
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(36, 36, 39);
    text-transform: uppercase;
    line-height: 1.625;
    font-weight: bold;
}

/*Second section!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.main-wrapper-light {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1920px;
    /*height: 580px;*/
    /*padding-top: 30px;*/
    /*background-color: var(--dark-fone);*/
    position: relative;
}

.bg-image-light {
    display: none;
}

.any-sphere {
    padding-top: 40px;
    position: relative;
}

.section-caption {
    font-family: var(--font-caption);
    font-size: 25px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    /*padding-top: 40px;*/
}

.any-sphere .section-caption:after {
    content: '';
    display: block;
    border-bottom: 3px solid black;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
}

.any-from > p {
    font-size: 14px;
    font-family: var(--font-caption);
    font-weight: bold;
    color: rgb(36, 36, 39);
    text-transform: uppercase;
    line-height: 1.429;
    text-align: center;
    padding-top: 15px;
}

.never-write {
    padding: 0 15px;
    font-weight: bolder;
}

.sphere-for-you {
    padding-top: 30px;
}

.sphere-for-you:not(:first-child) p {
    padding-top: 12px;
}

.sphere-for-you:nth-child(2) {
    padding-top: 40px;
}

.sphere-for-you h4 {
    font-size: 18px;
    font-family: var(--semi-font);
    color: rgb(36, 36, 39);
    font-weight: bold;
    line-height: 1.778;
    text-align: left;
}

.sphere-for-you p {
    font-size: 14px;
    font-family: var(--list-text);
    color: rgb(0, 0, 0);
    line-height: 1.714;
    text-align: left;

}

.sphere-for-you:nth-child(2) h4 img {
    margin-left: -4px;
    margin-right: 10px;
}

.sphere-for-you:nth-child(3) h4 img {
    margin-left: -4px;
    margin-right: 18px;
}

.sphere-for-you:nth-child(4) h4 img {
    margin-left: -4px;
    margin-right: 16px;
}

.sphere-for-you:nth-child(5) h4 img {
    margin-left: -4px;
    margin-right: 13px;
}

.sphere-for-you:nth-child(6) h4 img {
    margin-left: -4px;
    margin-right: 21px;
}

.sphere-for-you a:hover {
    border-bottom: 1px solid var(--main-color);
}

.sphere-for-you:nth-child(6) {
    margin-bottom: 50px;
}

/*.for-you h4:before {*/
/*content: url("../img/coruchka-1.png");*/
/*display: inline-block;*/
/*height: 41px;*/
/*width: 32px;*/
/*padding-right: 15px;*/
/*}*/

/*Gray SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.full-stack-developer {
    padding-top: 50px;
    /*position: relative;*/
}

.full-stack-developer_title,
.back-end {
    text-align: center;
}

.full-stack-developer_title .section-caption:after {
    content: '';
    display: block;
    border-bottom: 3px solid black;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
}

.full-stack-developer_title .you-can {
    font-size: 14px;
    font-family: var(--font-caption);
    font-weight: bold;
    color: rgb(36, 36, 39);
    text-transform: uppercase;
    line-height: 1.429;
    text-align: center;
    padding: 15px 15px 0 15px;
    margin-bottom: 20px;
}

.full-stack-developer_title .you-can a,
.full-stack-developer_subtitle a {
    color: var(--main-color);
}

.full-stack-developer_subtitle {
    font-size: 14px;
    font-family: var(--list-text);
    color: rgb(18, 18, 18);
    font-weight: bold;
    line-height: 1.429;
    text-align: center;
    padding: 5px 50px;
    border: 1px solid var(--main-color);
    margin-bottom: 50px;
}

.two-parts {
    padding-top: 14px;
    margin-bottom: 50px;
}

.first-part_title,
.second-part_title {
    font-size: 18px;
    font-family: var(--semi-font);
    color: rgb(36, 36, 39);
    font-weight: bold;
    line-height: 2.778;
    text-align: right;
    /*width: 50%;*/
    /*float: left;*/
}

/*.full-stack_img {*/
/*background: url("../img/full_stack-img-320.png") no-repeat 0 0;*/
/*height: 331px;*/
/*width: 300px;*/

/*}*/

/*.first-part_border-bottom {*/
/*content: '';*/
/*border-bottom: 2px solid black;*/
/*float: left;*/
/*width: 50%;*/
/*height: 30px;*/
/*line-height: 1;*/
/*padding-left: 10px;*/
/*}*/

.first-part_title:after {
    content: "";
    display: block;
    border-bottom: 2px solid black;
    width: 45%;
    float: right;
    height: 30px;
    margin-left: 20px;
}

.full-stack-developer_title .appearance {
    padding-top: 15px;
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(36, 36, 39);
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    font-weight: bold;
}

.full-stack-developer_title .appearance:after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--main-color);
    width: 30%;
    margin: 0 auto;
}

.second-part_title {
    padding-top: 30px;
}

.second-part_title:after {
    content: "";
    display: block;
    border-bottom: 2px solid black;
    width: 45%;
    float: right;
    height: 30px;
    margin-left: 20px;
}

.back-end .appearance {
    padding-top: 15px;
    font-size: 16px;
    font-family: var(--font-caption);
    color: rgb(36, 36, 39);
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    font-weight: bold;
}

.back-end .appearance:after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--main-color);
    width: 30%;
    margin: 0 auto;
}

.back-end .database {
    font-size: 14px;
    font-family: var(--list-text);
    color: rgb(36, 36, 39);
    font-weight: bold;
    line-height: 1.714;
    text-align: center;
}

hr {
    height: 3px;
    color: #242427;
    z-index: 2;
    width: 89%;
}

.what-knowledge {
    font-size: 16px;
    font-family: var(--semi-font);
    color: rgb(36, 36, 39);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}

.knowledge {
    font-size: 14px;
    font-family: var(--semi-font);
    color: rgb(36, 36, 39);
    font-weight: bold;
    line-height: 1.714;
    text-align: center;
    padding: 0 25px;
}

.bg-main-color {
    background-color: var(--main-color);
}

.start_course {
    border: none;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, rgba(255, 179, 27, 1) 0%, rgba(251, 27, 60, 1) 100%);
    padding: 15px 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.21);
    color: #fff;
    text-transform: uppercase;
}

.what-know {
    text-align: center;
    margin-bottom: 60px;
}

/*SQUARES*/

.relative {
    position: relative;
}

.square-1 {
    display: none;
    position: absolute;
}

.square-2 {
    display: none;
    position: absolute;
}

.img-320 {
    display: block;
}

.img-768 {
    display: none;
}

.img-1200 {
    display: none;
}


@media (min-width: 768px) {

    .main-wrapper-black {
        height: 630px;
    }

    .content-container {
        min-width: 768px;
    }

    .training-center {
        display: block;
    }

    .start-date {
        display: block;
        order: 0;
    }

    .start {
        margin-left: -50px;
    }

    .bg-image-black {
        width: 651px;
        height: 337px;
        position: absolute;
        left: 100px;
        top: 170px;
        background: url("../img/bg-black-section-768.png") no-repeat 0 0;
    }

    .begin-main-caption {
        align-items: center;
    }

    .begin-to-work:after {
        width: 80%;
    }

    .help-you:before {
        display: block;
    }

    .border-style {
        position: relative;
    }

    .border-style:after {
        content: " ";
        position: absolute;
        right: 30px;
        top: -10px;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        /*width: 100px;*/
        height: 90px;
        /*background-color: rgb(0, 188, 212);*/
    }

    .ready-portfolio {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .any-sphere {
        padding-top: 70px;
    }

    .for-you {
        padding-top: 70px;
    }

    .section-caption {
        font-size: 30px;
        font-family: var(--font-caption);
        /*color: rgb(0, 188, 212);*/
        text-transform: uppercase;
        line-height: 1.333;
        text-align: left;
        padding-right: 90px;
    }

    .any-from > p {
        font-size: 14px;
        font-family: var(--font-caption);
        /*color: rgb(36, 36, 39);*/
        text-transform: uppercase;
        line-height: 1.714;
        text-align: right;
        /*padding-right: 90px;*/
    }

    .any-from .never-write .main-color {
        background-color: rgb(36, 36, 39);
        padding: 6px;
    }

    .any-sphere .section-caption:after {
        position: relative;
        width: 95%;
        top: 46px;
        border-width: 2px;
        left: -10px;
    }

    .sphere-for-you h4 {

        font-size: 24px;
        font-family: var(--semi-font);
        color: rgb(36, 36, 39);
        font-weight: bold;
        line-height: 1.333;
        text-align: left;
    }

    /*Gray SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    .full-stack-developer_title {
        /*position: relative;*/
    }

    .full-stack-developer_title .section-caption:after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(36, 36, 39);
        margin: 0 auto;
        width: 65%;
        padding-top: 15px;
        margin-left: 0;
        position: absolute;
        top: 231px;
    }

    .full-stack-developer_title .you-can {
        line-height: 2;
    }

    .full-stack-developer_subtitle {
        position: absolute;
        transform: rotate(90deg);
        right: -450px;
        top: 0;
        font-size: 12px;
        text-transform: uppercase;
        border: 1px solid transparent;
        text-align: left;
    }

    .you-can .main-color {

        background-color: rgb(36, 36, 39);
        padding: 6px;
    }

    .back-end {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /*align-items: flex-end;*/
    }

    .section-caption {
        padding-right: 0;
    }

    .first-part_title {
        font-size: 24px;
        font-family: var(--semi-font);
        color: rgb(36, 36, 39);
        font-weight: bold;
        line-height: 2.083;
        text-align: right;
    }

    .second-part_title {
        font-size: 24px;
        font-family: var(--semi-font);
        color: rgb(36, 36, 39);
        font-weight: bold;
        line-height: 2.083;
        text-align: right;
    }

    .full-stack-developer_title .appearance {
        font-size: 18px;
    }

    .back-end .appearance {
        font-size: 18px;
    }

    .front-end_users {
        font-size: 14px;
        font-family: var(--list-text);
        color: rgb(36, 36, 39);
        font-weight: bold;
        line-height: 1.714;
        text-align: center;
    }

    .small-size_text {
        font-weight: normal;
        font-size: 13px;
    }

    /*SQUARE*/
    .square-1 {
        display: block;
        top: -20px;
    }

    .square-2 {
        display: block;
        top: 508px;
    }

    hr {
        width: 93%;
    }

    .img-320 {
        display: none;
    }

    .img-768 {
        display: block;
    }

    .img-1200 {
        display: none;
    }


}

@media (min-width: 1200px) {

    .main-wrapper-black {
        height: 845px;
    }

    .feedback-block {
        background-image: -moz-radial-gradient(50% 50%, rgb(19, 13, 34) 0%, rgb(12, 11, 30) 100%);
        background-image: -webkit-radial-gradient(50% 50%, rgb(19, 13, 34) 0%, rgb(12, 11, 30) 100%);
        background-image: -ms-radial-gradient(50% 50%, rgb(19, 13, 34) 0%, rgb(12, 11, 30) 100%);
        box-shadow: 0px 18px 40px 0px rgba(28, 28, 30, 0.22);
        height: 935px;
        position: absolute;
        z-index: 2;
        top: -113px;
    }

    .bg-image-black {
        width: 1247px;
        height: 648px;
        position: absolute;
        left: -400px;
        /*top: -500px;*/
        background: url('../img/bg-black-section.png') no-repeat 0 0;
    }

    .logo-position {
        position: absolute;
        left: -330px;
    }

    .content-container {
        max-width: 1146px;
        min-width: 1146px;
    }

    .training-center {
        font-size: 15px;
        font-family: var(--font-caption);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.333;
    }

    .training-center p {
        margin-bottom: 0px;
    }

    .training-help {
        display: block;
        font-size: 14px;
        font-family: var(--semi-font);
        color: rgb(255, 255, 255);
        line-height: 1.429;
        padding-top: 10px;
    }

    /*Дата старта курса*/
    .write-to-course > p {
        position: absolute;
        top: -30px;
        font-size: 16px;
        font-weight: bolder;
        font-family: var(--font-caption);
        color: rgb(36, 36, 39);
        text-transform: uppercase;
        line-height: 1.25;
        text-align: left;
        background-color: #fff;
        padding: 10px 12px;
        display: flex;
    }

    .start-date {
        transform: rotate(90deg);
        position: relative;
        top: 0px;
    }

    .start-date p {

        text-align: right;
    }

    .start {
        border-bottom: none;
        border-left: none;
        border-right: none;
    }

    .write-to-course {
        display: block;
    }

    /*Блок с номером телефона*/
    .phone {
        position: relative;
        right: -150px;
    }

    .tel {
        font-size: 20px;
        padding-top: 15px;
    }

    .tel:hover {
        font-size: 20px;
    }

    .set-age {
        font-size: 16px;
    }

    .hud-image {
        display: block;
    }

    /*Заголовок и субзаголовок*/
    .begin-main-caption {
        align-items: flex-start;
    }

    .begin-to-work h5 {
        font-size: 26px;
        line-height: 2;
        text-align: right;
        padding-top: 200px;
        padding-right: 70px;
    }

    .begin-to-work p {
        font-size: 24px;
        line-height: 1.125;
        text-align: right;
        padding-right: 70px;
    }

    .begin-to-work:after {
        margin-left: 0;
        width: 105%;
    }

    .main-caption h1 {
        font-size: 64px;
        font-family: var(--font-caption);
        text-transform: uppercase;
        line-height: 1.172;
        text-align: right;
        padding-right: 70px;
        padding-top: 37px;
    }

    .help-you > p {
        text-align: left;
    }

    .help-you p:nth-child(2) {
        margin-left: 0;
        width: 100%;
    }

    .help-you:before {
        position: relative;
        right: 650px;
        top: 45px;
        /*margin-left: 0;*/
    }

    .help-you .nine-month {
        display: block;
        transform: rotate(90deg);
        position: relative;
        left: -882px;
        top: 50px;
        font-size: 16px;
        font-family: var(--semi-font);
        color: rgb(255, 255, 255);
        font-weight: 400;
        line-height: 1.111;
        text-align: left;
    }

    .nine-month:before {
        display: block;
        position: relative;
        right: 650px;
        top: 10px;
    }

    .ready-portfolio {
        flex-direction: column;
        /*width: 280px;*/
    }

    .ready-portfolio-all {
        position: absolute;
        top: 278px;
        right: -70px;
        z-index: 3;
        width: 650px;
    }

    .border-style {
        margin-bottom: 30px;
    }

    .border-style:after {
        transform: rotate(90deg);
        top: -5px;
        right: 60px;
        height: 158px;

    }

    .header-button {
        left: 597px;
        top: 5px;
        display: inline-block;
        z-index: 3;
    }

    .bg-image-light {
        width: 327px;
        height: 313px;
        display: block;
        top: 0;
        left: -400px;
        position: absolute;
        background: url("../img/bg-second-section.png") no-repeat 0 0;
    }

    .any-from {
        padding-right: 119px!important;
    }

    .any-sphere {
        padding-top: 140px;
    }

    .any-sphere-block {
        max-width: 495px;
        padding-right: 40px;
    }

    .any-sphere-block:nth-child(2n+1) {
        margin-right: 63px;
    }

    .sphere-for-you h4 {
        font-size: 30px;
        font-family: var(--semi-font);
        color: rgb(36, 36, 39);
        font-weight: bold;
        line-height: 1.333;
        text-align: left;
    }

    .sphere-for-you p {
        font-size: 18px;
        font-family: var(--list-text);
        color: rgb(0, 0, 0);
        line-height: 1.444;
        text-align: left;
        padding-right: 20px;
    }

    .sphere-for-you h4 img {
        margin-left: -40px !important;
    }

    /*Gray SECTION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

    .full-stack-developer {
        padding-left: 40px;
    }

    .full-stack-developer_title {
        /*margin-left: 100px;*/
    }





    .gray-subsection > h2 {
        font-size: 25px;
        font-family: var(--font-caption);
        color: rgb(109, 181, 186);
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
    }

    .full-stack-developer_title .section-caption {
        padding-right: 73px;
    }

    .full-stack-developer_title .you-can {
        text-align: right;
    }

    .full-stack-developer_title .section-caption:after {
        top: 192px;
        /*width: 0px;*/
        right: 30px;
    }

    .front-end_users {
        padding-left: 50px;
        padding-right: 50px;
    }

    .back-end .database {
        padding-left: 50px;
        padding-right: 50px;
    }




    .square-1 {
        display: none;
    }

    .square-2 {
        display: none;
    }

    .img-320 {
        display: none;
    }

    .img-768 {
        display: none;
    }

    .img-1200 {
        display: block;
    }

}



